<!--Main Navigation-->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark blue scrolling-navbar">
        <img src="assets/img/angular_logo.png" width="50" height="50">
        <span class="navbar-brand"><strong>Pruebas Unitarias</strong></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" [routerLink]="['/calculadora']" routerLinkActive="active">Calculadora</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/usuarios']" routerLinkActive="active">Usuarios</a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<!--Main Navigation-->